{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}

{% block title %}
Videos
{% endblock title %}


{% block body_block %}
<div class="left_side">
    <p><a href="{% url 'App_video:home' %}"><img src="{% static 'images/home.png'%}" alt=""></a> <a
            href="{% url 'App_video:home' %}" class="active">Home</a></p>
    <p><img src="{% static 'images/explore.png'%}" alt=""> <a href="" class="active">Explore</a></p>
    <p><img src="{% static 'images/subscriprion.png'%}" alt=""> <a href="" class="active">Subcription</a></p>
    <p><img src="{% static 'images/library.png'%}" alt=""> <a href="" class="active">Libary</a></p>
    <p><img src="{% static 'images/history.png'%}" alt=""> <a href="" class="active">History</a></p>
    <p><img src="{% static 'images/cast.png'%}" alt=""> <a href="" class="active">Cast Videos</a></p>
    <p><img src="{% static 'images/playlist.png'%}" alt=""> <a href="" class="active">Playlist</a></p>
    <p><img src="{% static 'images/messages.png'%}" alt=""> <a href="" class="active">Message</a></p>
    <p><img src="{% static 'images/show-more.png'%}" alt=""> <a href="" class="active">Show More</a></p>
    <hr>
    <div class="active">

        <p>Subscribed</p>
        <p><img src="{% static '/images/cameron.png' %}" alt="" class="user_icon"><a href="" class="active">Cameroon</a>
        </p>
    </div>


</div>
<div class="right_side">
    <div class="video-container">


        {% for video in videos %}

        <div class="video">
            <div style="position: relative;">

                <a href="{% url 'App_video:video_details' pk=video.pk %}"><img src="{{video.thumbnail.url}}" alt=""
                        class="thambnail"></a>
                <a href="{% url 'App_video:video_details' pk=video.pk %}"><img src="/media/pngwing.com.png" alt="" class="youtube-logo"></a>
            </div>
            <div class="video-des">
                <img src="{{video.user.profile.profile_pic.url}}">
                <div class="name">
                    <a href="{% url 'App_video:video_details' pk=video.pk %}" class="video-title">
                        {{video.title|filter}}
                    </a>
                    <a href="{% url 'App_video:show_channel' pk=video.channel.pk %}"
                        class="channel-name">{{video.channel.channel_name}}</a>
                    <small>{{video.video_view.count}} views {{video.published_at|calulate_time}} Ago</small>
                </div>
            </div>
        </div>
        {% endfor %}









    </div>

</div>


{% endblock body_block %}