{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block title %}
        Video-Straming Website
        {% endblock title %}

    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <section id="header">
        <nav>
            <div class="logo">
                <img src="{% static 'images/menu.png'%}" alt="" class="menubar">
                <a href="{% url 'App_video:home' %}"><img src="{% static 'images/logo.png' %}" class="main-logo"></a>
            </div>
            <div class="search_box">
                <form class="search_input" id="search-form" method="post" action="{% url 'App_video:search' %}">
                    {% csrf_token %}

                    <input type="text" placeholder="search" name="search">
                    <button type="submit"><img src="{% static 'images/search.png' %}" alt=""></button>

                </form>
                <img src="{% static 'images/voice-search.png'%}" class="mic-logo">
            </div>
            <div class="profile_icon">
               
                {% if user.is_authenticated %}
                <img src="{% static 'images/upload.png'%}" alt="">
                <img src="{% static 'images/more.png'%}" alt="">
                <img src="{% static 'images/notification.png'%}" alt="">

                {% if user.profile.profile_pic %}

                <img src="{{user.profile.profile_pic.url}}" alt="" class="user-profile-icon">
                {% else %}
                <img src="{% static 'images/avater.png'%}" alt="" class="user-profile-icon">

                {% endif %}


                {% else %}
                <a href="{% url 'App_login:login' %}" class="btn btn-primary">Login</a>

                {% endif %}

                {% if user.is_authenticated%}

                <div class="profile" id="profile">
                    
                    <div class="profile-link">
                        <p><a href="{% url 'App_login:profile' %}">Your Profile</a></p>

                        {% if user.user_channel %}
                        <p><a href="{% url 'App_video:channel' %}">Your Channel</a></p>
                        {% else %}
                        <p><a href="{% url 'App_video:create_channel' %}">Create Channel</a></p>

                        {% endif %}

                        <p><a href="{% url 'App_login:logout' %}">Logout</a></p>

                    </div>
                </div>
                {% endif %}



            </div>
        </nav>
    </section>


    <section>

        {% if messages %}

        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message.tags}} show" {% endif %} role="alert" id="alert">
            <span>{{message}}</span>
            <span style="cursor: pointer;" id="cross">X</span>
        </div>

        {% endfor %}


        {% endif %}


        <section id="main" class="section-padding">



            {% block body_block %}

            {% endblock body_block %}





        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6da7043c56.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>