{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block title %}
        Video-Straming Website
        {% endblock title %}

    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section id="header">
        <nav>
            <div class="logo">
                <img src="{% static 'images/menu.png'%}" alt="" class="menubar">
                <img src="{% static 'images/logo.png' %}" class="main-logo">
            </div>
            <div class="search_box">
                <form class="search_input" id="search-form">

                    <input type="text" placeholder="search">
                    <button type="submit"><img src="{% static 'images/search.png' %}" alt=""></button>

                </form>
                <img src="{% static 'images/voice-search.png'%}" class="mic-logo">
            </div>
            <div class="profile_icon">
                <img src="{% static 'images/upload.png'%}" alt="">
                <img src="{% static 'images/more.png'%}" alt="">
                <img src="{% static 'images/notification.png'%}" alt="">
                <img src="{% static 'images/Jack.png'%}" alt="">
            </div>
        </nav>
    </section>

    {% block body_block %}

    {% endblock body_block %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>